
.div-login{
    width:50%;
    background-color:#fff;
    border:1px solid rgb(226, 226, 226);
    border-radius:5px;
    padding:30px;
    margin:300px auto;
}
.div-login h1{
    text-align:center;
}
input{
    width:100%;
    display:block;
    padding:10px;
    margin:5px;
    box-sizing:border-box;
    border-radius:4px;
    border:1px solid rgb(241, 241, 241);
}
input[type="submit"]{
    font-size:18px;
    margin-top:15px;
    cursor:pointer;
    background-color:rgb(20, 149, 172);
    border:1px solid rgb(20, 149, 172);
    color:#fff;
}
.error{
    display:block;
    text-align:center;
    color:rgb(240, 157, 157);
    margin:10px;
}

/*
Estilos gestion escuelas
*/
header{
    background-color: rgb(25, 25, 78);
    text-align:right;
    padding:20px;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
}
nav ul li a{
    background-color:#fff;
    color:rgb(25, 25, 78);
    padding:10px;
    border-radius:10px;
}
.insert-data{
    text-align:center;
    display:inline-block;
    padding:30px;
    width:49%;
    box-sizing:border-box;
    border:1px solid rgb(20, 149, 172);
}


/*
    Estilos de gestion escuelas
*/

header{
    background-color: rgb(25, 25, 78);
    text-align:right;
    padding:20px;
}
nav ul li{
    display:inline-block;
}
nav ul li a {
    background-color:#fff;
    text-decoration:none;
    color:rgb(25, 25, 78);
    padding:10px;
    border-radius:4px
}


.show-data-div{
    margin:100px
}

.data-clase,.show-data{
    margin:10px;
    padding:20px;
    width:40%;
    border:1px solid rgb(222, 250, 255);
    -webkit-box-shadow: 5px 5px 6px -3px rgba(111, 111, 111, 0.96);
    box-shadow: 5px 5px 6px -3px rgba(111, 111, 111, 0.96);
}

.data-clase div{
    margin-top:10px;
}

.nombre-clase,.nombre-url{
    display:inline-block;
    margin-left:10px;
    font-weight:bold;
}

.data-clase div a{
    display:block;
    margin:20px auto;
    text-align: center;
    width:30%;
    text-decoration:none;
    padding:5px;
    border-radius: 5px;
    color:#fff;
    background-color:rgb(25, 25, 78);
}

.div-image{
    width:40%;
    margin:10px;
}
.clase-imagen{
    width:100%;
}

/*
    estilos de escuela.php
*/

.data-escuela{
    padding:30px;
    border:1px solid rgb(212, 212, 212);
    border-radius:4px;
}
.image-escuela{
    width:5%;
}

.each-escuela,.each-alumno{
    display: block;
    font-weight: 500;
}
.show-data{
    display: inline-block;
    width:48%;
    box-sizing:border-box;
}
hr{
    margin:30px;
}
.each-data-alumno{
    padding:15px;
    border:1px solid rgb(205, 205, 205);
    border-radius:4px;
    margin:5px;
}
.title-data{
    text-align: center;
}
.each-data-alumno form input[type="submit"],.delete{
    font-size:12px;
    background-color:rgb(25, 25, 78);
    width:30%;
    display: block;
    margin:10px auto;
    cursor:pointer;
}
.delete{
    font-size:10px!important;
    background-color: rgb(232, 128, 143)!important;
}